___

<p style="text-align: center;"><img src="https://docs.google.com/uc?id=1lY0Uj5R04yMY3-ZppPWxqCr5pvBLYPnV" class="img-fluid" alt="CLRSWY"></p>

___

<h1><p style="text-align: center;">Data Analysis with Python <br>Project - 1</p><h1> - Traffic Police Stops <img src="https://docs.google.com/uc?id=17CPCwi3_VvzcS87TOsh4_U8eExOhL6Ki" class="img-fluid" alt="CLRSWY" width="200" height="100">

Does the ``gender`` of a driver have an impact on police behavior during a traffic stop? **In this chapter**, you will explore that question while practicing filtering, grouping, method chaining, Boolean math, string methods, and more!

***

## Examining traffic violations

Before comparing the violations being committed by each gender, you should examine the ``violations`` committed by all drivers to get a baseline understanding of the data.

In this exercise, you'll count the unique values in the ``violation`` column, and then separately express those counts as proportions.

> Before starting your work in this section **repeat the steps which you did in the previos chapter for preparing the data.** Continue to this chapter based on where you were in the end of the previous chapter.

In [1]:
import pandas as pd
import numpy as np
from scipy import stats
from scipy import math

In [2]:
ri = pd.read_csv("RI_cleaned.csv")

C:\Users\Toshiba\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3165: DtypeWarning: Columns (8,16) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [3]:
ri.head(1)

,id,state,stop_date,stop_time,location_raw,county_name,county_fips,fine_grained_location,police_department,driver_gender,...,search_conducted,search_type_raw,search_type,contraband_found,stop_outcome,is_arrested,stop_duration,out_of_state,drugs_related_stop,district
0,RI-2005-00001,RI,2005-01-02,01:55,Zone K1,NaN,NaN,NaN,600,M,...,False,NaN,NaN,False,Citation,False,0-15 Min,False,False,Zone K1

In [4]:
ri.columns

Index(['id', 'state', 'stop_date', 'stop_time', 'location_raw', 'county_name',
       'county_fips', 'fine_grained_location', 'police_department',
       'driver_gender', 'driver_age_raw', 'driver_age', 'driver_race_raw',
       'driver_race', 'violation_raw', 'violation', 'search_conducted',
       'search_type_raw', 'search_type', 'contraband_found', 'stop_outcome',
       'is_arrested', 'stop_duration', 'out_of_state', 'drugs_related_stop',
       'district'],
      dtype='object')

In [5]:
ri.isnull()

,id,state,stop_date,stop_time,location_raw,county_name,county_fips,fine_grained_location,police_department,driver_gender,...,search_conducted,search_type_raw,search_type,contraband_found,stop_outcome,is_arrested,stop_duration,out_of_state,drugs_related_stop,district
0,False,False,False,False,False,True,True,True,False,False,...,False,True,True,False,False,False,False,False,False,False
1,False,False,False,False,False,True,True,True,False,False,...,False,True,True,False,False,False,False,False,False,False
2,False,False,False,False,False,True,True,True,False,True,...,False,True,True,False,True,True,True,True,False,False
3,False,False,False,False,False,True,True,True,False,False,...,False,True,True,False,False,False,False,False,False,False
4,False,False,False,False,False,True,True,True,False,False,...,False,True,True,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
509676,False,False,True,True,False,True,True,True,True,True,...,True,True,True,False,True,True,True,True,False,False
509677,False,False,True,True,False,True,True,True,True,True,...,True,True,True,False,True,True,True,True,False,False
509678,False,False,True,True,False,True,True,True,True,True,...,True,True,True,False,True,True,True,True,False,False
509679,False,False,True,True,False,True,True,True,True,True,...,True,True,True,False,True,True,True,True,False,False
509680,False,False,True,True,False,True,True,True,True,True,...,True,True,True,False,True,True,True,True,False,False

In [6]:
ri.isnull().sum()

id                            0
state                         0
stop_date                    10
stop_time                    10
location_raw                  0
county_name              509681
county_fips              509681
fine_grained_location    509681
police_department            10
driver_gender             29097
driver_age_raw            29049
driver_age                30695
driver_race_raw           29073
driver_race               29073
violation_raw             29073
violation                 29073
search_conducted             10
search_type_raw          491919
search_type              491919
contraband_found              0
stop_outcome              29073
is_arrested               29073
stop_duration             29073
out_of_state              29881
drugs_related_stop            0
district                      0
dtype: int64

In [7]:
ri.shape

(509681, 26)

In [8]:
# ri(ri.columns[ri.apply(lambda col: col.isnull().sum()/len(ri) == 1)], axis=1, inplace=True)
ri.drop(["county_name", "county_fips", "fine_grained_location"], axis = 1, inplace = True)

In [9]:
ri.shape

(509681, 23)

In [10]:
ri.isnull().sum()

id                         0
state                      0
stop_date                 10
stop_time                 10
location_raw               0
police_department         10
driver_gender          29097
driver_age_raw         29049
driver_age             30695
driver_race_raw        29073
driver_race            29073
violation_raw          29073
violation              29073
search_conducted          10
search_type_raw       491919
search_type           491919
contraband_found           0
stop_outcome           29073
is_arrested            29073
stop_duration          29073
out_of_state           29881
drugs_related_stop         0
district                   0
dtype: int64

In [11]:
ri.dropna(axis=0, subset=["driver_gender"], inplace = True)

In [12]:
ri.isnull().sum()

id                         0
state                      0
stop_date                  0
stop_time                  0
location_raw               0
police_department          0
driver_gender              0
driver_age_raw             1
driver_age              1638
driver_race_raw            0
driver_race                0
violation_raw              0
violation                  0
search_conducted           0
search_type_raw       462822
search_type           462822
contraband_found           0
stop_outcome               0
is_arrested                0
stop_duration              0
out_of_state             808
drugs_related_stop         0
district                   0
dtype: int64

In [13]:
ri.shape

(480584, 23)

In [14]:
ri.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 480584 entries, 0 to 509670
Data columns (total 23 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   id                  480584 non-null  object
 1   state               480584 non-null  object
 2   stop_date           480584 non-null  object
 3   stop_time           480584 non-null  object
 4   location_raw        480584 non-null  object
 5   police_department   480584 non-null  object
 6   driver_gender       480584 non-null  object
 7   driver_age_raw      480583 non-null  float64
 8   driver_age          478946 non-null  float64
 9   driver_race_raw     480584 non-null  object
 10  driver_race         480584 non-null  object
 11  violation_raw       480584 non-null  object
 12  violation           480584 non-null  object
 13  search_conducted    480584 non-null  object
 14  search_type_raw     17762 non-null   object
 15  search_type         17762 non-null   object
 16  contraband_found    480584 non-null  bool
 17  stop_outcome        480584 non-null  object
 18  is_arrested         480584 non-null  object
 19  stop_duration       480584 non-null  object
 20  out_of_state        479776 non-null  object
 21  drugs_related_stop  480584 non-null  bool
 22  district            480584 non-null  object
dtypes: bool(2), float64(2), object(19)
memory usage: 81.6+ MB

In [15]:
ri["is_arrested"].head(1)

0    False
Name: is_arrested, dtype: object

In [16]:
ri["is_arrested"].dtype

dtype('O')

In [17]:
ri["is_arrested"] = ri.is_arrested.astype("bool")

In [18]:
ri["is_arrested"]

0         False
1         False
3         False
4         False
5         False
          ...
509666    False
509667    False
509668    False
509669    False
509670    False
Name: is_arrested, Length: 480584, dtype: bool

In [19]:
ri.head(1)

,id,state,stop_date,stop_time,location_raw,police_department,driver_gender,driver_age_raw,driver_age,driver_race_raw,...,search_conducted,search_type_raw,search_type,contraband_found,stop_outcome,is_arrested,stop_duration,out_of_state,drugs_related_stop,district
0,RI-2005-00001,RI,2005-01-02,01:55,Zone K1,600,M,1985.0,20.0,W,...,False,NaN,NaN,False,Citation,False,0-15 Min,False,False,Zone K1

In [20]:
ri["stop_date"].dtype

dtype('O')

In [21]:
ri["stop_time"].dtype

dtype('O')

In [22]:
combined = ri["stop_date"] + " " + ri["stop_time"]

In [23]:
combined

0         2005-01-02 01:55
1         2005-01-02 20:30
3         2005-01-04 12:55
4         2005-01-06 01:30
5         2005-01-12 08:05
                ...
509666    2015-12-31 22:46
509667    2015-12-31 22:47
509668    2015-12-31 23:08
509669    2015-12-31 23:44
509670    2015-12-31 23:48
Length: 480584, dtype: object

In [24]:
ri["stop_datetime"] = pd.to_datetime(combined)

In [25]:
ri.drop(["stop_date", "stop_time"], axis = "columns", inplace=True)

In [26]:
ri.head(1)

,id,state,location_raw,police_department,driver_gender,driver_age_raw,driver_age,driver_race_raw,driver_race,violation_raw,...,search_type_raw,search_type,contraband_found,stop_outcome,is_arrested,stop_duration,out_of_state,drugs_related_stop,district,stop_datetime
0,RI-2005-00001,RI,Zone K1,600,M,1985.0,20.0,W,White,Speeding,...,NaN,NaN,False,Citation,False,0-15 Min,False,False,Zone K1,2005-01-02 01:55:00

In [27]:
ri.dtypes

id                            object
state                         object
location_raw                  object
police_department             object
driver_gender                 object
driver_age_raw               float64
driver_age                   float64
driver_race_raw               object
driver_race                   object
violation_raw                 object
violation                     object
search_conducted              object
search_type_raw               object
search_type                   object
contraband_found                bool
stop_outcome                  object
is_arrested                     bool
stop_duration                 object
out_of_state                  object
drugs_related_stop              bool
district                      object
stop_datetime         datetime64[ns]
dtype: object

In [28]:
ri.set_index("stop_datetime", inplace = True)

In [29]:
ri.head(1)

,id,state,location_raw,police_department,driver_gender,driver_age_raw,driver_age,driver_race_raw,driver_race,violation_raw,...,search_conducted,search_type_raw,search_type,contraband_found,stop_outcome,is_arrested,stop_duration,out_of_state,drugs_related_stop,district
stop_datetime,,,,,,,,,,,,,,,,,,,,,
2005-01-02 01:55:00,RI-2005-00001,RI,Zone K1,600,M,1985.0,20.0,W,White,Speeding,...,False,NaN,NaN,False,Citation,False,0-15 Min,False,False,Zone K1

In [30]:
ri.shape

(480584, 21)

In [31]:
ri.columns

Index(['id', 'state', 'location_raw', 'police_department', 'driver_gender',
       'driver_age_raw', 'driver_age', 'driver_race_raw', 'driver_race',
       'violation_raw', 'violation', 'search_conducted', 'search_type_raw',
       'search_type', 'contraband_found', 'stop_outcome', 'is_arrested',
       'stop_duration', 'out_of_state', 'drugs_related_stop', 'district'],
      dtype='object')

**INSTRUCTIONS**

*   Count the unique values in the ``violation`` column, to see what violations are being committed by all drivers.
*   Express the violation counts as proportions of the total.

In [36]:
# Count the unique values in the "violation"
ri["violation"].value_counts()

Speeding               268736
Moving violation        90228
Equipment               61250
Other                   24216
Registration/plates     19830
Seat belt               16324
Name: violation, dtype: int64

In [97]:
# Count the unique values in the "violation"   ----> Other olarak Nan value deÄŸerleri de getirdik bu ÅŸekilde.
ri["violation"].value_counts(dropna=False)

Speeding               268736
Moving violation        90228
Equipment               61250
Other                   24216
Registration/plates     19830
Seat belt               16324
Name: violation, dtype: int64

In [37]:
# Express the violation counts as proportions   ---> normalize dediÄŸimiz zaman deÄŸerleri 0-1 arasÄ±na sÄ±kÄ±ÅŸtÄ±rÄ±yor. DeÄŸerler toplamÄ± 1 olmalÄ±
ri["violation"].value_counts(normalize=True)

Speeding               0.559186
Moving violation       0.187747
Equipment              0.127449
Other                  0.050389
Registration/plates    0.041262
Seat belt              0.033967
Name: violation, dtype: float64

***

## Comparing violations by gender

The question we're trying to answer is whether male and female drivers tend to commit different types of traffic violations.

You'll first create a ``DataFrame`` for each gender, and then analyze the ``violations`` in each ``DataFrame`` separately.

**INSTRUCTIONS**

*   Create a ``DataFrame``, female, that only contains rows in which ``driver_gender`` is ``'F'``.
*   Create a ``DataFrame``, male, that only contains rows in which ``driver_gender`` is ``'M'``.
*   Count the ``violations`` committed by female drivers and express them as proportions.
*   Count the violations committed by male drivers and express them as proportions.

In [38]:
ri.head(1)

,id,state,location_raw,police_department,driver_gender,driver_age_raw,driver_age,driver_race_raw,driver_race,violation_raw,...,search_conducted,search_type_raw,search_type,contraband_found,stop_outcome,is_arrested,stop_duration,out_of_state,drugs_related_stop,district
stop_datetime,,,,,,,,,,,,,,,,,,,,,
2005-01-02 01:55:00,RI-2005-00001,RI,Zone K1,600,M,1985.0,20.0,W,White,Speeding,...,False,NaN,NaN,False,Citation,False,0-15 Min,False,False,Zone K1

In [100]:
ri_Female = ri[ri['driver_gender'] == 'F']
ri_Female.head(1)

,id,state,location_raw,police_department,driver_gender,driver_age_raw,driver_age,driver_race_raw,driver_race,violation_raw,...,search_type_raw,search_type,contraband_found,stop_outcome,is_arrested,stop_duration,out_of_state,drugs_related_stop,district,frisk
stop_datetime,,,,,,,,,,,,,,,,,,,,,
2005-02-24 01:20:00,RI-2005-00016,RI,Zone X3,200,F,1983.0,22.0,W,White,Speeding,...,NaN,NaN,False,Citation,False,0-15 Min,True,False,Zone X3,False

In [99]:
ri_Male = ri[ri['driver_gender'] == 'M']
ri_Male.head(1)

,id,state,location_raw,police_department,driver_gender,driver_age_raw,driver_age,driver_race_raw,driver_race,violation_raw,...,search_type_raw,search_type,contraband_found,stop_outcome,is_arrested,stop_duration,out_of_state,drugs_related_stop,district,frisk
stop_datetime,,,,,,,,,,,,,,,,,,,,,
2005-01-02 01:55:00,RI-2005-00001,RI,Zone K1,600,M,1985.0,20.0,W,White,Speeding,...,NaN,NaN,False,Citation,False,0-15 Min,False,False,Zone K1,False

In [101]:
ri_Male["violation"].value_counts()

Speeding               182538
Moving violation        72317
Equipment               47211
Other                   20425
Registration/plates     14181
Seat belt               12774
Name: violation, dtype: int64

In [102]:
ri_Male["violation"].value_counts(normalize=True)

Speeding               0.522364
Moving violation       0.206948
Equipment              0.135102
Other                  0.058450
Registration/plates    0.040581
Seat belt              0.036555
Name: violation, dtype: float64

In [106]:
ri_Female["violation"].value_counts()

Speeding               86198
Moving violation       17911
Equipment              14039
Registration/plates     5649
Other                   3791
Seat belt               3550
Name: violation, dtype: int64

In [107]:
ri_Female["violation"].value_counts(normalize=True)

Speeding               0.657308
Moving violation       0.136581
Equipment              0.107055
Registration/plates    0.043077
Other                  0.028908
Seat belt              0.027071
Name: violation, dtype: float64

***

## Comparing speeding outcomes by gender

When a driver is pulled over for speeding, many people believe that gender has an impact on whether the driver will receive a ticket or a warning. Can you find evidence of this in the dataset?

First, you'll create two ``DataFrames`` of drivers who were stopped for ``speeding``: one containing ***females*** and the other containing ***males***.

Then, for each **gender**, you'll use the ``stop_outcome`` column to calculate what percentage of stops resulted in a ``"Citation"`` (meaning a ticket) versus a ``"Warning"``.

**INSTRUCTIONS**

*   Create a ``DataFrame``, ``female_and_speeding``, that only includes female drivers who were stopped for speeding.
*   Create a ``DataFrame``, ``male_and_speeding``, that only includes male drivers who were stopped for speeding.
*   Count the **stop outcomes** for the female drivers and express them as proportions.
*   Count the **stop outcomes** for the male drivers and express them as proportions.

In [110]:
ri_Female_speeding = ri_Female[ri_Female['violation'] == 'Speeding']
ri_Female_speeding.head(1)

,id,state,location_raw,police_department,driver_gender,driver_age_raw,driver_age,driver_race_raw,driver_race,violation_raw,...,search_type_raw,search_type,contraband_found,stop_outcome,is_arrested,stop_duration,out_of_state,drugs_related_stop,district,frisk
stop_datetime,,,,,,,,,,,,,,,,,,,,,
2005-02-24 01:20:00,RI-2005-00016,RI,Zone X3,200,F,1983.0,22.0,W,White,Speeding,...,NaN,NaN,False,Citation,False,0-15 Min,True,False,Zone X3,False

In [111]:
ri_Male_speeding = ri_Male[ri_Male['violation'] == 'Speeding']
ri_Male_speeding.head(1)

,id,state,location_raw,police_department,driver_gender,driver_age_raw,driver_age,driver_race_raw,driver_race,violation_raw,...,search_type_raw,search_type,contraband_found,stop_outcome,is_arrested,stop_duration,out_of_state,drugs_related_stop,district,frisk
stop_datetime,,,,,,,,,,,,,,,,,,,,,
2005-01-02 01:55:00,RI-2005-00001,RI,Zone K1,600,M,1985.0,20.0,W,White,Speeding,...,NaN,NaN,False,Citation,False,0-15 Min,False,False,Zone K1,False

In [112]:
ri_Female_speeding["stop_outcome"].value_counts()

Citation            82168
Warning              3362
Arrest Driver         456
Arrest Passenger       89
N/D                    78
No Action              45
Name: stop_outcome, dtype: int64

In [116]:
ri_Female_speeding["stop_outcome"].value_counts(normalize=True)

Citation            0.953247
Warning             0.039003
Arrest Driver       0.005290
Arrest Passenger    0.001033
N/D                 0.000905
No Action           0.000522
Name: stop_outcome, dtype: float64

In [117]:
ri_Male_speeding["stop_outcome"].value_counts()

Citation            172432
Warning               6587
Arrest Driver         2878
Arrest Passenger       231
N/D                    216
No Action              194
Name: stop_outcome, dtype: int64

In [118]:
ri_Male_speeding["stop_outcome"].value_counts(normalize=True)

Citation            0.944636
Warning             0.036086
Arrest Driver       0.015767
Arrest Passenger    0.001265
N/D                 0.001183
No Action           0.001063
Name: stop_outcome, dtype: float64

***

## Calculating the search rate

During a traffic stop, the police officer sometimes conducts a search of the vehicle. In this exercise, you'll calculate the percentage of all stops that result in a vehicle search, also known as the **search rate**.

**INSTRUCTIONS**

*   Check the data type of ``search_conducted`` to confirm that it's a ``Boolean Series``.
*   Calculate the search rate by counting the ``Series`` values and expressing them as proportions.
*   Calculate the search rate by taking the mean of the ``Series``. (It should match the proportion of ``True`` values calculated above.)

In [119]:
ri.head(1)

,id,state,location_raw,police_department,driver_gender,driver_age_raw,driver_age,driver_race_raw,driver_race,violation_raw,...,search_type_raw,search_type,contraband_found,stop_outcome,is_arrested,stop_duration,out_of_state,drugs_related_stop,district,frisk
stop_datetime,,,,,,,,,,,,,,,,,,,,,
2005-01-02 01:55:00,RI-2005-00001,RI,Zone K1,600,M,1985.0,20.0,W,White,Speeding,...,NaN,NaN,False,Citation,False,0-15 Min,False,False,Zone K1,False

In [127]:
ri["search_conducted"].dtype

dtype('bool')

In [128]:
ri["search_conducted"].value_counts()

False    462822
True      17762
Name: search_conducted, dtype: int64

In [129]:
ri["search_conducted"].value_counts(normalize=True)

False    0.963041
True     0.036959
Name: search_conducted, dtype: float64

In [130]:
ri["search_conducted"].mean()

0.036959199640437465

***

## Comparing search rates by gender

You'll compare the rates at which **female** and **male** drivers are searched during a traffic stop. Remember that the vehicle search rate across all stops is about **3.8%**.

First, you'll filter the ``DataFrame`` by gender and calculate the search rate for each group separately. Then, you'll perform the same calculation for both genders at once using a ``.groupby()``.

**INSTRUCTIONS 1/3**

*   Filter the ``DataFrame`` to only include **female** drivers, and then calculate the search rate by taking the mean of ``search_conducted``.

In [126]:
ri[ri['driver_gender'] == 'F'].search_conducted.mean()

0.018751239152648355

In [125]:
ri_Female["search_conducted"].mean()

0.018751239152648355

**INSTRUCTIONS 2/3**

*   Filter the ``DataFrame`` to only include **male** drivers, and then repeat the search rate calculation.

In [67]:
ri[ri['driver_gender'] == 'M'].search_conducted.mean()

0.04379217389811301

In [68]:
ri_M["search_conducted"].mean()

0.04379217389811301

**INSTRUCTIONS 3/3**

*   Group by driver gender to calculate the search rate for both groups simultaneously. (It should match the previous results.)

In [131]:
ri.groupby(["driver_gender"]).mean()

,driver_age_raw,driver_age,search_conducted,contraband_found,is_arrested,drugs_related_stop,frisk
driver_gender,,,,,,,
F,1974.087275,32.536682,0.018751,0.006337,0.025492,0.004568,0.001251
M,1969.211775,34.524914,0.043792,0.016449,0.037946,0.011922,0.004104

In [132]:
ri.groupby(["driver_gender"]).search_conducted.mean()

driver_gender
F    0.018751
M    0.043792
Name: search_conducted, dtype: float64

***

## Adding a second factor to the analysis

Even though the search rate for males is much higher than for females, it's possible that the difference is mostly due to a second factor.

For example, you might hypothesize that the search rate varies by violation type, and the difference in search rate between males and females is because they tend to commit different violations.

You can test this hypothesis by examining the search rate for each combination of gender and violation. If the hypothesis was true, you would find that males and females are searched at about the same rate for each violation. Find out below if that's the case!

**INSTRUCTIONS 1/2**

*   Use a ``.groupby()`` to calculate the search rate for each combination of gender and violation. Are males and females searched at about the same rate for each violation?

In [70]:
ri.groupby(["driver_gender", "violation"]).search_conducted.value_counts()

driver_gender  violation            search_conducted
F              Equipment            False                13474
                                    True                   565
               Moving violation     False                17230
                                    True                   681
               Other                False                 3617
                                    True                   174
               Registration/plates  False                 5340
                                    True                   309
               Seat belt            False                 3487
                                    True                    63
               Speeding             False                85531
                                    True                   667
M              Equipment            False                43863
                                    True                  3348
               Moving violation     False                68039
                                    True                  4278
               Other                False                19483
                                    True                   942
               Registration/plates  False                12712
                                    True                  1469
               Seat belt            False                12369
                                    True                   405
               Speeding             False               177677
                                    True                  4861
Name: search_conducted, dtype: int64

In [71]:
ri.groupby(["driver_gender", "violation"]).search_conducted.value_counts("Normalize")

driver_gender  violation            search_conducted
F              Equipment            False               0.959755
                                    True                0.040245
               Moving violation     False               0.961979
                                    True                0.038021
               Other                False               0.954102
                                    True                0.045898
               Registration/plates  False               0.945300
                                    True                0.054700
               Seat belt            False               0.982254
                                    True                0.017746
               Speeding             False               0.992262
                                    True                0.007738
M              Equipment            False               0.929084
                                    True                0.070916
               Moving violation     False               0.940844
                                    True                0.059156
               Other                False               0.953880
                                    True                0.046120
               Registration/plates  False               0.896411
                                    True                0.103589
               Seat belt            False               0.968295
                                    True                0.031705
               Speeding             False               0.973370
                                    True                0.026630
Name: search_conducted, dtype: float64

**INSTRUCTIONS 2/2**

*   Reverse the ordering to group by violation before gender. The results may be easier to compare when presented this way.

In [72]:
ri.groupby(["violation", "driver_gender"]).search_conducted.value_counts()

violation            driver_gender  search_conducted
Equipment            F              False                13474
                                    True                   565
                     M              False                43863
                                    True                  3348
Moving violation     F              False                17230
                                    True                   681
                     M              False                68039
                                    True                  4278
Other                F              False                 3617
                                    True                   174
                     M              False                19483
                                    True                   942
Registration/plates  F              False                 5340
                                    True                   309
                     M              False                12712
                                    True                  1469
Seat belt            F              False                 3487
                                    True                    63
                     M              False                12369
                                    True                   405
Speeding             F              False                85531
                                    True                   667
                     M              False               177677
                                    True                  4861
Name: search_conducted, dtype: int64

In [73]:
ri.groupby(["violation", "driver_gender"]).search_conducted.value_counts("Normalize")

violation            driver_gender  search_conducted
Equipment            F              False               0.959755
                                    True                0.040245
                     M              False               0.929084
                                    True                0.070916
Moving violation     F              False               0.961979
                                    True                0.038021
                     M              False               0.940844
                                    True                0.059156
Other                F              False               0.954102
                                    True                0.045898
                     M              False               0.953880
                                    True                0.046120
Registration/plates  F              False               0.945300
                                    True                0.054700
                     M              False               0.896411
                                    True                0.103589
Seat belt            F              False               0.982254
                                    True                0.017746
                     M              False               0.968295
                                    True                0.031705
Speeding             F              False               0.992262
                                    True                0.007738
                     M              False               0.973370
                                    True                0.026630
Name: search_conducted, dtype: float64

***

## Counting protective frisks

During a vehicle search, the police officer may pat down the driver to check if they have a weapon. This is known as a ``"protective frisk."``

You'll first check to see how many times "Protective Frisk" was the only search type. Then, you'll use a string method to locate all instances in which the driver was frisked.

**INSTRUCTIONS**

*   Count the ``search_type`` values to see how many times ``"Protective Frisk"`` was the only search type.
*   Create a new column, frisk, that is ``True`` if ``search_type`` contains the string ``"Protective Frisk"`` and ``False`` otherwise.
*   Check the data type of frisk to confirm that it's a ``Boolean Series``.
*   Take the sum of frisk to count the total number of frisks.

In [74]:
ri.head(1)

,id,state,location_raw,police_department,driver_gender,driver_age_raw,driver_age,driver_race_raw,driver_race,violation_raw,...,search_conducted,search_type_raw,search_type,contraband_found,stop_outcome,is_arrested,stop_duration,out_of_state,drugs_related_stop,district
stop_datetime,,,,,,,,,,,,,,,,,,,,,
2005-01-02 01:55:00,RI-2005-00001,RI,Zone K1,600,M,1985.0,20.0,W,White,Speeding,...,False,NaN,NaN,False,Citation,False,0-15 Min,False,False,Zone K1

In [76]:
ri.search_type.value_counts()

Incident to Arrest                                          6998
Probable Cause                                              4989
Reasonable Suspicion                                        1141
Inventory                                                   1101
Protective Frisk                                             879
Incident to Arrest,Inventory                                 649
Incident to Arrest,Probable Cause                            552
Probable Cause,Reasonable Suspicion                          334
Probable Cause,Protective Frisk                              221
Incident to Arrest,Protective Frisk                          158
Incident to Arrest,Inventory,Probable Cause                  151
Inventory,Probable Cause                                     132
Protective Frisk,Reasonable Suspicion                         83
Incident to Arrest,Inventory,Protective Frisk                 77
Incident to Arrest,Probable Cause,Protective Frisk            74
Inventory,Protective Frisk                                    52
Incident to Arrest,Reasonable Suspicion                       49
Incident to Arrest,Probable Cause,Reasonable Suspicion        31
Probable Cause,Protective Frisk,Reasonable Suspicion          31
Inventory,Reasonable Suspicion                                17
Inventory,Probable Cause,Protective Frisk                     14
Incident to Arrest,Inventory,Reasonable Suspicion             12
Inventory,Probable Cause,Reasonable Suspicion                  8
Incident to Arrest,Protective Frisk,Reasonable Suspicion       8
Inventory,Protective Frisk,Reasonable Suspicion                1
Name: search_type, dtype: int64

In [134]:
ri["frisk"] = ri.search_type.str.contains("Protective Frisk", na=False)

In [78]:
ri['frisk'].dtype

dtype('bool')

In [79]:
#ri.frisk.sum()
ri['frisk'].sum()

1598

In [80]:
ri['frisk'].value_counts()

False    478986
True       1598
Name: frisk, dtype: int64

In [147]:
def frisk(a):
    b = "Protective Frisk"
    if  b in ri.columns :
        return True
    else:
        return False

In [155]:
#riV = ri.copy()
#riV.head(1)

In [156]:
#riV['frisk'] = riV['search_type'].apply(frisk)
#riV.head(1)

In [157]:
#riV.columns

In [158]:
#riV.info()

In [159]:
#riV["frisk"].dtype

In [160]:
#riV["frisk"]

In [161]:
#riV["frisk"].value_counts()

***

## Comparing frisk rates by gender

You'll compare the rates at which female and male drivers are frisked during a search. Are males frisked more often than females, perhaps because police officers consider them to be higher risk?

Before doing any calculations, it's important to filter the ``DataFrame`` to only include the relevant subset of data, namely stops in which a search was conducted.

**INSTRUCTIONS**

*   Create a ``DataFrame``, searched, that only contains rows in which ``search_conducted`` is ``True``.
*   Take the mean of the frisk column to find out what percentage of searches included a frisk.
*   Calculate the frisk rate for each gender using a ``.groupby()``.

In [163]:
# searched = ri[ri['search_conducted']]
searched = ri[ri['search_conducted'] == True]

In [92]:
searched['frisk']

stop_datetime
2005-01-24 20:32:00    False
2005-02-09 03:05:00     True
2005-08-28 01:00:00     True
2005-09-15 02:20:00    False
2005-09-24 02:20:00    False
                       ...
2015-12-28 11:05:00    False
2015-12-30 01:37:00     True
2015-12-30 08:51:00    False
2015-12-30 13:15:00    False
2015-12-30 15:58:00    False
Name: frisk, Length: 17762, dtype: bool

In [94]:
searched['frisk'].mean()

0.08996734601959239

In [164]:
searched.groupby(["driver_gender"]).frisk.mean()

driver_gender
F    0.066694
M    0.093707
Name: frisk, dtype: float64

In [96]:
searched.groupby(["driver_gender"]).frisk.value_counts("Normalize")

driver_gender  frisk
F              False    0.933306
               True     0.066694
M              False    0.906293
               True     0.093707
Name: frisk, dtype: float64